@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Italic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Italic.woff") format("woff");font-weight:normal;font-style:italic}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-MediumItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-MediumItalic.woff") format("woff");font-weight:500;font-style:italic}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Bold.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Bold.woff") format("woff");font-weight:bold;font-style:normal}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-BoldItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-BoldItalic.woff") format("woff");font-weight:bold;font-style:italic}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Regular.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Regular.woff") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-LightItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-LightItalic.woff") format("woff");font-weight:300;font-style:italic}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-SemiboldItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-SemiboldItalic.woff") format("woff");font-weight:600;font-style:italic}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Black.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Black.woff") format("woff");font-weight:900;font-style:normal}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Heavy.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Heavy.woff") format("woff");font-weight:900;font-style:normal}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-HeavyItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-HeavyItalic.woff") format("woff");font-weight:900;font-style:italic}@font-face{font-family:'Lato Hairline';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Hairline.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Hairline.woff") format("woff");font-weight:300;font-style:normal}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Light.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Light.woff") format("woff");font-weight:300;font-style:normal}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-BlackItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-BlackItalic.woff") format("woff");font-weight:900;font-style:italic}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Medium.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Medium.woff") format("woff");font-weight:500;font-style:normal}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Thin.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Thin.woff") format("woff");font-weight:100;font-style:normal}@font-face{font-family:'Lato Hairline';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-HairlineItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-HairlineItalic.woff") format("woff");font-weight:300;font-style:italic}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-ThinItalic.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-ThinItalic.woff") format("woff");font-weight:100;font-style:italic}@font-face{font-family:'Lato';src:url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Semibold.woff2") format("woff2"),url("https://www.pewtrusts.org/assets/Pew/fonts/Lato-Semibold.woff") format("woff");font-weight:600;font-style:normal}
* {
    box-sizing: border-box;
}
body {
	color: var(--text-color, #000);
	font-family: var(--font-primary, sans);
	padding-top: var(--banner-height, 75px);
	position: relative;
}
body::after {
	content: 'Working on it . . .';
	display: none;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	z-index: 5;
	font-size: 36px;

}
body::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
	z-index: 4;
	cursor: not-allowed;
}
body.isWorking::before, body.isWorking::after {
	display: block;
}
p {
	margin-block-start: 1em;
	margin-block-end: 1em;
}
section {
		position: relative;
		width: 100%;
		margin-bottom: 15vh;
		min-height: calc(100vh - var(--banner-height, 75px) - 80px - 1rem);
		flex-shrink: 0;
    }
section h2:first-of-type {
        margin-top: 0;
    }
#app-container {
	position: relative;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.ctn {
	width: 100%;
	margin: 0 auto;
}
.ctn--full {
	max-width: 1920px;
}
.ctn--inner {
	padding: 0 1rem;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-jc {
	justify-content: center;
}
.flex-ac {
	align-items: center;
}
.flex-sb {
	justify-content: space-between;
}
.note {
	color: #767676;
	margin-top: -1rem;
	font-size: 0.85rem;
	letter-spacing: 0.2px;
}
.tippy-content {
	letter-spacing: 0.2px;
}
.tippy-box {
	background-color: #153164;
}
.tippy-arrow {
	color: #153164;
}
.instruction-step {
	font-weight: bold;
}
.button {
	appearance: none;
	background: none;
	border: none;
	font-weight: bold;
	padding: 0.2em 0.5em;
	line-height: 1.5;
	letter-spacing: 0.3px;
	transition: background-color 0.2s ease-in-out;
	min-width: 55px;
}
.button--primary {
	background-color: var(--brand-primary, #000);
	color: #fff
}
.button--secondary {
	background-color: #fff;
	color: var(--brand-primary, #000);
	border: 1px solid var(--brand-primary, #000);
}
.button[disabled] {
	background-color: var(--medium-gray, #767676);
	cursor: not-allowed;
}
a {
	background: 0 0;
	color: #296ec3;
	text-decoration: none;
	transition: color .28s cubic-bezier(.4,0,.2,1),color .28s cubic-bezier(.4,0,.2,1);
}
a:hover {
	color: rgba(41,110,195,.7);
    text-decoration: underline;
}

.image-export .griffin-figure a {
	transition: none;
	color: inherit;
}
/*.ai2html-griffin-figure .figure-note {
	font-size: 0.8rem !important;
}*/

/* helps with html2canvas text rendering */
.figure-note {
	font-variant: normal !important;
	-webkit-font-variant: normal !important;
	font-variant-ligatures: none !important;
	-webkit-font-variant-ligatures: none !important;
}

.highcharts-container {
	font-family: inherit;

}

/* for print output */

/* print */

.highcharts-container.griffin--for-print {
	font-family: 'lato';
  font-size: 15.99px; /* scales to 9pt in print */
}
.highcharts-container.griffin--for-print .highcharts-axis-labels {
	font-size: inherit;
}
.highcharts-container.griffin--for-print .highcharts-legend text {
    font-weight: normal;
    fill: #808285;
    font-size: 14.2222px; /* ie 8 pt in print */
}