* {
    box-sizing: border-box;
}
body {
	color: var(--text-color, #000);
	font-family: var(--font-primary, sans);
	padding-top: var(--banner-height, 75px);
}
p {
	margin-block-start: 1em;
	margin-block-end: 1em;
}
section {
		position: relative;
		width: 100%;
		margin-bottom: 1rem;
		min-height: calc(100vh - var(--banner-height, 75px) - 80px - 1rem);
    }
section h2:first-of-type {
        margin-top: 0;
    }
#app-container {
	position: relative;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.ctn {
	width: 100%;
	margin: 0 auto;
}
.ctn--full {
	max-width: 1920px;
}
.ctn--inner {
	padding: 0 1rem;
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.flex-jc {
	justify-content: center;
}
.flex-ac {
	align-items: center;
}
.flex-sb {
	justify-content: space-between;
}
.note {
	color: #767676;
	margin-top: -1rem;
	font-size: 0.85rem;
	letter-spacing: 0.2px;
}
.tippy-content {
	letter-spacing: 0.2px;
}
.tippy-box {
	background-color: var(--brand-primary);
}
.tippy-arrow {
	color: var(--brand-primary);
}