* {
    box-sizing: border-box;
}
body {
	color: var(--text-color, #000);
	font-family: var(--font-primary, sans);
	padding-top: var(--banner-height, 75px);
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.ctn {
	width: 100%;
	margin: 0 auto;
}
.ctn--full {
	max-width: 1600px;
}
.ctn--inner {
	padding: 1rem;
}
.flex {
	display: flex;
}
.flex-center {
	justify-content: center;
}