<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Griffin Chart Builder 1.0.0</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap" rel="stylesheet">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link class="emitted-css" href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body>
    <div id="app-container">
    </div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script class="emitted-bundle" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>

</html>